@import "../../../assets/styles/utils";
@import "../../../assets/styles/colors";

:host {
  @include display-flex();
  @include justify-content(center);
  height: 48px;
  min-height: 48px;
  background-color: $secondary-dark;
  border-bottom: 2px solid $tertiary-dark;

  a {
    @include display-flex();
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
    text-transform: uppercase;
    padding: 0 16px;

    .section {
      color: $primary-white;
    }

    .underline-select {
      &.selected {
        width: 100%;
      }
    }
  }

  .select-lang {
    @include display-flex();
    @include align-items(center);
    position: absolute;
    right: 8px;
    top: 3px;

    a {
      padding: 8px;
    }

    img {
      width: 40px;
      height: 40px;
      cursor: pointer;

      &:not(:nth-child(2)) {
        margin-right: 8px;
      }
    }
  }
}
