@import "../../../assets/styles/utils";
@import "../../../assets/styles/colors";

:host {
  @include display-flex();
  @include justify-content(center);
  height: 48px;
  min-height: 48px;
  background-color: $secondary-dark;
  border-bottom: 2px solid $tertiary-dark;

  .section {
    @include display-flex();
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 0 16px;

    p {
      color: $primary-white;
      @include transition(color, 0.25s);
    }

    .underline-select {
      &.selected {
        width: 100%;
      }
    }

    &:hover p {
      color: $primary-red;
    }
  }

  .select-lang {
    @include display-flex();
    @include align-items(center);
    @include transition(background-color, 0.25s);
    @include transition(color, 0.25s);
    border-radius: 4px;
    position: absolute;
    right: 8px;
    top: 3px;

    a {
      text-transform: uppercase;
      padding: 8px;
    }

    img {
      @include transition(opacity, 0.25s);
      opacity: 0.5;
      width: 40px;
      height: 40px;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &.selected {
        opacity: 1;
        cursor: default;
      }

      &:not(:nth-child(2)) {
        margin-right: 8px;
      }
    }

    &:hover:not(.no-hover) {
      color: $primary-red;
      background-color: $tertiary-dark;
    }
  }
}
