<a class="section" [routerLink]="['/']" (click)="selected = 'home'">
  <p translate>head-nav.stream</p>
  <div class="underline-select" [class.selected]="selected === 'home'"></div>
</a>

<a class="section" [routerLink]="['/tournament']" (click)="selected = 'tournament'">
  <p translate>head-nav.tournament</p>
  <div class="underline-select" [class.selected]="selected === 'tournament'"></div>
</a>

<div class="select-lang">
  <a translate *ngIf="!showTranslate" (click)="showTranslate = true">head-nav.language</a>
  <img *ngIf="showTranslate" (click)="selectLang('en')" src="/src/assets/img/en-flag.png" alt="change to english"/>
  <img *ngIf="showTranslate" (click)="selectLang('fr')" src="/src/assets/img/fr-flag.png" alt="changer en français"/>
</div>
