<div class="twitch-container">
  <div class='twitchStream'>
    <iframe
      class="video"
      src="https://player.twitch.tv/?channel=monstercat"
      frameborder="0"
      scrolling="no"
      allowfullscreen="true"
      autoplay="true">
    </iframe>
  </div>

  <!--<div class='twitchChat'>-->
  <!--<iframe frameborder="0" scrolling="no" src="https://www.twitch.tv/**YOUR-CHANNEL-NAME**/chat"></iframe>-->
  <!--</div>-->
</div>

<div class="description">
  <p>
    Bienvenue sur mon stream !
    <br>
    <br>
    Étant développeur je me suis lancé le défi/projet de créer une interface permettant
    d'organiser mes tournois, cette application web est toujours en développement, n'hésite pas à me dire ce que tu en
    penses.
    <br>
    <br>
    D'ailleurs pour discuter tu peux me rejoindre sur discord, c'est gratuit, c'est simple, c'est beau, c'est super. ^w^
    <a href="https://discord.gg/k3Y2VCG">
      <img src="../../../assets/images/discord-purple.svg"
           alt="Lien discord"/>
    </a>
  </p>
</div>
