@import "../../../assets/styles/main";
@import "../../../assets/styles/responsive-embed";

:host {
  height: 100%;
  @include display-flex();
  overflow: auto;

  .twitch-container {
    @include display-flex();
    height: 100%;
    width: 100%;

    .twitchStream {
      @include flex(1);
    }

    .description {
      @include display-flex();
      @include justify-content(center);
      width: 450px;
    }
  }
}

@media all and (max-width: 1024px) {
  :host {
    .twitch-container {
      @include flex-direction(column);

      .twitchStream {
        @include flex(none);
      }

      .description {
        width: 100%;
      }
    }
  }
}
