@import "../../../assets/styles/main";

:host {
  height: 100%;
  @include flex();

  .video {
    width: 1200px;
    height: 500px;
  }

  //.stream-container {
  //  width: 60%;
  //  margin-left: 8px;
  //  height: calc(100% - 16px);
  //  @include flex();
  //  align-items: center;
  //  justify-content: center;
  //
  //  #twitch-embed {
  //    box-sizing: border-box;
  //    width: 100%;
  //    height: 100%;
  //  }
  //}
}

//@media all and (max-width: 900px) {
//.stream-container {
//  width: 100%;
//  height: 100%;
//  margin: 0;
//}
//}
