@import "../../assets/styles/main";

:host {
  @include flex();
  justify-content: center;
  height: 48px;
  min-height: 48px;
  border-bottom: 1px solid $primary-white;

  .section {
    @include flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      color: $primary-white;
      @include flex();
      flex-direction: column;
      justify-content: center;
      padding: 0 16px;
    }

    .underline-select {
      &.selected {
        width: calc(100% - 32px);
      }
    }
  }
}
