@import "../../assets/styles/main";

:host {
  @include flex();
  justify-content: center;
  height: 48px;
  border-bottom: 1px solid $primary-white;

  a {
    color: $primary-white;
    @include flex();
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 16px;
  }
}
