@import "../../assets/styles/main";

:host {
  width: 100%;
  @include flex();
  flex-direction: column;

  .stream-container {
    @include flex();
    justify-content: center;

    #twitch-embed {
      width: calc(100% - 80px);
      max-width : 1920px;
      max-height: 1080px;
    }
  }
}
