$primary-purple: #6158A5;
$secondary-purple: #4F517D;

$primary-red: #F4989C;
$secondary-red: #E52727;

$primary-dark: #30343F;
$secondary-dark: #2D2E33;
$tertiary-dark: #46484F;

$primary-white: #FFF0EF;
