$primary-purple: #6158A5;
$second-purple: #4F517D;
$primary-red: #F4989C;
$primary-dark: #30343F;
$primary-white: #FFF0EF;

@mixin flex() {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
}
