@mixin display-flex() {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
}

@mixin flex($option) {
  flex: $option;
  -ms-flex: $option;
  -webkit-flex: $option;
}

@mixin flex-direction($option) {
  flex-direction: $option;
  -ms-flex-direction: $option;
  -webkit-flex-direction: $option;
}

@mixin justify-content($option) {
  justify-content: $option;
  -webkit-justify-content: $option;
}

@mixin align-items($option) {
  align-items: $option;
  -webkit-align-items: $option;
}

@mixin align-content($option) {
  align-content: $option;
  -webkit-align-content: $option;
}

@mixin align-self($option) {
  align-self: $option;
  -webkit-align-self: $option;
}

@mixin transition($option, $time) {
  transition: $option $time;
  -o-transition: $option $time;
  -moz-transition: $option $time;
  -webkit-transition: $option $time;
}
